i {
  margin-right: 1em;
}


.container {
  border: 1px solid blue;
  padding: 2em;
  max-width: 40vw;
  background-color: rgb(231, 177, 213);
  border-radius: 5px;
  color: red;
  font-size: 1.2em
}

.a {
  color: red;
}

.b {
  color: blue;
}

.c {
  color: green;
}

.d {
  color: orange;
}



.parent-body {
  max-width: 40vw;
  border: 1px solid purple;
  border-radius: 3px;
  background-color: rgb(235, 224, 224);
  position: relative;
}

.footer {
  padding: 1.5em;

}
